/* 注册页面开始 */ 
.register_header {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #2E3943;
    padding: 0 40px;
}
.register_logo {
    position: absolute;
    width: 100px;
    height: 30px;
    margin:10px 0;
    color: rgba(0, 0, 0, 0.65);
}
.register_logo img {
    width: 100%;
    
}
.register_home {
    position: absolute;
    right: 40px;
    top: 15px;
    width: 20px;
    height: 20px;
}
.register_home img {
    width: 100%;
}
.register_box {
    width: 700px;
    height: 640px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    text-align: center;
}
.register_outlink {
    width: 100%;
    height: 20px;
    margin:20px 0 14px;
    line-height: 20px;
    font-size: 14px;
    padding-right: 20px;
}
.register_outlink a,
.register_outlink span {
    float: right;
}
.register_outlink a {
    margin-left: 5px;
    color: #40a9ff;
}
.register_box input {
    width: 370px;
    height: 40px;
    margin-bottom: 25px;
    padding-left: 10px;
    border: none;
    border:1px solid #ccc;
    border-radius: 4px;
    list-style: none;
    outline: none;
    color: rgba(0, 0, 0, 0.65);
    transition: all 0.5s;
}
.register_box button {
    width: 370px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: #40a9ff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 12px;
}
.register_yz_box input {
    width: 260px;
}
.register_yz_box button {
    width: 100px;
    height: 40px;
    padding: 0 13px;
    line-height: 40px;
    color: #999;
    background-color: #fff;
    font-size: 14px;
    border: 1px solid #ccc;
}
.register_box .notice {
    text-align: left;
    margin-left: 165px;
}
.register_box .notice a {
    color: #40a9ff;
}
/* 注册页面结束 */ 