@charset "UTF-8";
/* visualization 数据可视化页面 开始*/
/* container banner begin*/
.header_f {
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.12); }

.data_banner {
  background: url(../picture/visualization_banner.png) no-repeat center center;
  background-size: cover;
  position: relative; }

.data_banner_inner a {
  bottom: 29%; }

/* container banner end*/
/* container data_nav begin*/
.data_nav {
  border-bottom: 1px solid #eaeaea;
  text-align: center; }

.data_wrap {
  width: 1100px;
  margin: 0 auto; }

.data_nav {
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08); }

.data_nav_f {
  position: fixed;
  top: 60px;
  z-index: 9900;
  width: 100%;
  background: #fff;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.12); }

.data_nav a {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 59px;
  margin: 0 68px;
  padding: 0 14px;
  font-size: 16px;
  color: #333;
  line-height: 59px; }

.data_nav a.current {
  color: #2491f7; }

.data_nav a.current:after {
  content: "";
  position: absolute;
  z-index: 99;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #2491F7; }

/* container data_nav end*/
/* container data_visual begin*/
.data_visual {
  padding: 70px 0 75px; }

.data-item {
  position: relative; }

.data_anchor {
  position: absolute;
  top: -110px; }

.home_video {
  position: relative;
  margin-top: 38px; }

.home_video_bj {
  position: relative;
  width: 100%;
  height: 620px;
  overflow: hidden;
  cursor: pointer; }

.home_video_bj img {
  width: 1100px;
  height: 620px; }

.videoDefault {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 620px;
  z-index: 9998;
  margin: 0 auto;
  display: none;
  cursor: pointer; }

.currentVideo {
  width: 100%;
  height: 100%;
  object-fit: fill; }

/* container data_visual end*/
/* container data_planning begin*/
.data_planning {
  padding: 70px 0 64px;
  background: #f5f7fa; }

.data_planning_group {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  margin-bottom: 48px; }

.data_planning_item {
  width: 275px;
  padding: 0 26px;
  text-align: center; }

.data_planning_item_icon {
  margin-bottom: 26px; }

.data_planning_item_icon img {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12); }

.data_planning_item_title {
  font-size: 16px;
  color: #333333;
  margin-bottom: 15px;
  font-weight: bold; }

.data_planning_item_text {
  font-size: 14px;
  color: #666666;
  line-height: 20px; }

.data_planning_arrow {
  text-align: center;
  margin-bottom: 70px; }

.data_planning_arrow img {
  width: 28px;
  height: 28px; }

.data_planning_des_left {
  width: 502px;
  float: left;
  margin-left: 20px; }

.data_planning_des_left img {
  width: 502px;
  height: 281px;
  overflow: hidden; }

.data_planning_des_right {
  width: 502px;
  float: right;
  margin-right: 20px; }

.data_planning_des_right img {
  width: 502px;
  height: 281px;
  overflow: hidden; }

.data_planning_des_text {
  font-size: 14px;
  color: #666666;
  line-height: 20px;
  padding: 14px 54px 0 0; }

/* container data_planning end*/
/* container data_platform begin*/
.data_platform {
  height: 860px;
  padding-top: 70px;
  background: url(../picture/visualization_data_bj1.jpg) no-repeat center center;
  background-size: cover; }

.data_platform .data_platform_title h4 {
  color: #fff; }

.data_platform_btm {
  margin-top: 68px; }

.data_platform_group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.data_platform_item {
  width: 520px;
  height: 160px;
  background: #FFFFFF;
  margin-bottom: 40px;
  border-radius: 2px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: all 0.8s; }

.data_platform_item:hover {
  transform: scale(1.05); }

.data_platform_item_des {
  height: 160px;
  padding: 40px 20px 0; }

.data_platform_item_icon {
  float: left;
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-right: 14px; }

.data_platform_item_icon img {
  width: 80px;
  height: 80px; }

.data_platform_item_right {
  width: 350px;
  float: right;
  margin-right: 25px; }

.data_platform_item_title {
  font-size: 16px;
  color: #333333;
  margin-bottom: 14px;
  font-weight: bold; }

.data_platform_item_text {
  font-size: 14px;
  color: #666666;
  line-height: 20px; }

/* container data_platform end*/
/* container data_ability begin*/
.data_ability {
  padding: 70px 0 98px; }

.data_ability_btm {
  margin-top: 68px; }

.data_ability_group {
  display: flex;
  justify-content: space-between; }

.data_ability_item {
  width: 355px;
  height: 242px;
  padding: 0 30px;
  text-align: center;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08); }

.data_ability_item_icon {
  margin-bottom: 15px; }

.data_ability_item_icon img {
  width: 100px;
  height: 100px; }

.data_ability_item_title {
  font-size: 18px;
  color: #333333;
  margin-bottom: 10px;
  font-weight: bold; }

.data_ability_item_text {
  font-size: 14px;
  color: #666666;
  line-height: 24px; }

/* container data_ability end*/
/* container data_case begin*/
.data_case {
  height: 880px;
  padding-top: 72px;
  background: url(../picture/data_bj2.jpg) no-repeat center center;
  background-size: cover; }

/* container data_case end*
/* container resource_blog begin*/
.resource_blog {
  padding: 70px 0 90px; }

.resource_blog_btm {
  margin-top: 20px; }

.resource_blog_scroll {
  height: 490px;
  overflow-y: scroll; }

.resource_blog_table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

.resource_blog_table tr {
  border-bottom: 1px solid #eaeaea; }

.resource_blog_scroll .resource_blog_table tr:nth-child(odd) {
  background: #f5f7fa; }

.resource_blog_table tr td:nth-child(3) {
  width: 360px; }

.resource_blog_table tr td:nth-child(2) {
  text-align: left; }

.resource_blog_table td {
  height: 90px;
  font-size: 14px;
  color: #333333;
  text-align: center;
  line-height: 20px; }

.blog_three {
  text-align: left; }

.blog_more {
  color: #2491f7; }

.blog_table_title {
  height: 40px;
  margin-top: 80px;
  margin-bottom: 10px;
  color: #333;
  font-size: 18px;
  display: flex; }

.blog_table_title span {
  display: inline-block;
  margin-left: 100px; }

.blog_table_title span:nth-child(2) {
  margin-left: 96px; }

.blog_table_title span:nth-child(3) {
  margin-left: 205px; }

.blog_table_title span:nth-child(4) {
  margin-left: 232px; }

.blog_table_title span:nth-child(5) {
  margin-left: 153px; }

/* container resource_blog end*/
/* visualization 数据可视化页面 结束*/
